body { background-color: #363a4a; color: #eee; font-family: 'Nunito Sans', sans-serif; }
a { color: #15c1ab; text-decoration: none; }
  a:hover { color: #ad9cea; }
header { text-align: center; }
table { background-color: #2a2e3c; }
  table, td { border: 1px solid #171717; border-collapse: collapse; }
  th, td { padding: 15px; }
.container { margin: 2rem 1.5rem; }
section.faq header::after {
  display: block;
  content: "";
  background: #aaa;
  height: 1px;
  width: 90px;
  margin: 0 auto;
}
.faq { margin-top: 2.5rem; }

@media only screen and (min-width: 768px) {
  body { width: 768px; margin: 0 auto; }
}
